@font-face {
    font-family: 'pokemonfont';
    src: url('/css/fonts/pokemonfont.ttf');
  }
body{
    font-family: 'pokemonfont';
    color: #0e0e0e; 
    background-color: #ebe5d9;
    line-height: 1.6; 
    font-size: 40px;
    text-align: left;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    margin: 0;
    min-width: 450px;
}
.slaking{
    position: fixed;
    height: auto;
    width: 30vw;
    max-width: 250px;
    min-width: 150px;
    right: 10px;
    bottom: 10px;
    padding-right: 2px;
}
/*BUTTON STYLES*/
.btn{
    font-family: inherit;
    width: fit-content;
    height: 64px;
    color: #0e0e0e;
    background-color: #dec69f;
    border-color: #d95939;
    border-radius: 20px;
    transition: .045s;
    overflow: hidden;
}
.btn:hover{
    scale: 1.05;
    cursor: pointer;
}
.btn:active{
    scale: 1.015;
}
/*LIST OF POKEMON*/
.list-group{
    position: relative;
    list-style-type: none;
    overflow-y: scroll;
    padding-top: 5px;
    margin: 0;
    height: 100vh;
    width: auto;
}
img{
    height: 200px;
    width: auto;
}
h1{
    font-size: 30px;
}
p{
    font-size: 50%;
}
